<h1>Stupid Coaching</h1>

<div class="sentence">
<p><em>You</em> <br><br> <%= @question %></p>
<p><em>Your coach</em> <br><br> <%= @answer %></p>
</div>

----------------------------------------------
<h3>I know it's stupid but the question/answer is working and I'm proud of it !</h3>

<div class="link"> <%= link_to "Back to question", ask_path %> </div>
