<h1>Stupid Coaching</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<h2>What is your <strong>STUPID</strong> question?</h2>

<form action="/answer">
  <input class="ask" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
